* {
  box-sizing: border-box;
}

body {
  background: #dedfc7;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

h1 {
  font-size: 14px;
}

.wrapper {
  margin: 100px;
}

.widgets-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.widget-item {
  height: 260px;
  width: 360px;
  margin: 20px;
  background: #283593;
}
